.container {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
}

h1 {
    width: 100%;
}

.date {
    width: 30%;
}

.tableContainer {
    width: 100%;
}

.dateFields {
    width: 100%;
    display: flex;
    align-items: center;
}

.print_btn {
    /* padding-left: 5px; */
    margin-left: 5px;
    /* padding-left: 30px; */
}

.totals {
    display: flex;
    gap: 5px;
    justify-content: center;
    /* Align items horizontally */
    padding-bottom: 5px;
}

.alignedText {
    display: inline-flex;
    padding-right: 5px;
    /* justify-content: flex-end; */
    /* white-space: nowrap; */
}

.billDataNumber {
    text-align: start;
    width: 2rem;
}

.itemDetails {
    display: flex;
    gap: 15px;

}

@media print {
    .print_section {
        padding: 0 10px;
    }
}