.widePage {
  max-width: 1280px;
}

.filterRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 14px;
}

.searches {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.searchInput {
  width: 200px;
}

.stats {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

@media (max-width: 495px) {
  .searchInput {
    width: 100%;
  }

  .searches {
    width: 100%;
  }
}
