.table {}

.editForm {
    display: flex;
    flex-wrap: wrap;
}

.formControl {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 5px;
}

.formControl label {
    width: 30%;
}

.formControl input {
    width: 60%;
}

.paninator{
    display: flex;
    justify-content: right;
    padding-right: 1rem;
}