.container {
    padding: 0 10px;
    width: 98%;
}

h1 {
    width: 100%;
}

.dateFields {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    /* padding-bottom: 20px; */
}

.constants {
    width: 100%;
    display: flex;
    padding: 15px 0;
    /* justify-content: end; */
    gap: 10px;
}

.date {
    /* width: 15%; */
    /* padding-right: 10px; */
}

.tableContainer {
    width: 100%;
}


.print_btn {
    /* padding-left: 5px; */
    margin-left: 5px;
    /* padding-left: 30px; */
}

.vyapariName {
    width: 40%;
}

.tableLedger{
    /* height: calc(100vh-400px); */
    /* height: 30vh; */
    background-color: black;
}

.errMsg {
    color: red;
}

@media (min-width: 485px) {
    .fulllabel {
      display: inline;
    }
    .shortlabel {
      display: none;
    }
  }

@media (max-width: 495px) {

    h1 {
        width: 40%;
        display: none;
    }

    .vyapariName {
        padding-top: 10px;
        width: 99%;
    }

    .date {
        width: 48%;
        /* padding-right: 10px; */
    }

    .constants {
        width: 100%;
        display: flex;
        padding: 15px 0;
        /* gap: 4px; */
    }

    .fulllabel {
        display: none;
    }

    .shortlabel {
        display: inline;
    }

    .print_all_btn{
        display: none;
    }


}