.billTable{
    height: 55vh;
}

.errMsg{
    color: red;
}

.itemlist {
  width: 100%;
  border: 1px solid #ddd;
  font-size: 0.9rem;
  margin-top: 10px;
}

/* Header */
.listheader {
  display: grid;
  grid-template-columns: 1fr 60px;
  padding: 0.5rem;
  font-weight: 600;
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.listBodyPrevPending{
  margin: 0;
  padding: 0;
  list-style: none;
}

.listBodyPrevPending li {
  display: grid;
  grid-template-columns: 1fr 60px 30px;
  padding: 0.4rem 0.5rem;
  border-bottom: 1px solid #eee;
}
/* Scrollable list */
.listbody {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 8rem;
  overflow-y: auto;
}

/* List items */
.listbody li {
  display: grid;
  grid-template-columns: 1fr 60px;
  padding: 0.4rem 0.5rem;
  border-bottom: 1px solid #eee;
}

/* Optional hover */
.listbody li:hover {
  background-color: #fafafa;
}


/* ------------------------------------------------------------- */
/* List rows */
.list-body li {
  display: grid;
  grid-template-columns: 1fr 60px;
  padding: 0.4rem 0.5rem;
  border-bottom: 1px solid #eee;
}

.itemname {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemqty {
  text-align: right;
  font-weight: 500;
}

/* Add section */
.additem {
  display: flex;
  gap: 0.3rem;
  padding: 0.4rem;
  border-top: 1px solid #ddd;
}
.additem select,
.additem input {
  flex: 1;
  padding: 0.3rem;
  font-size: 0.85rem;
  width: 40%;
}

.additem button {
  padding: 0.3rem 0.6rem;
  cursor: pointer;
}