.container{
    padding: 5px 15px;
    display: flex;
    flex-direction: column; 
}

h1{
    width: 100%;
}

.date{
    width: 30%;
}

.tableContainer {
    width: 100%;
}

.dateFields {
    width: 100%;
    display: flex;
    align-items: center;
}

.print_btn {
    margin-left: 5px;
}

.totals{
    display: flex;
    gap: 25px;
    padding: 5px 0;
}