.kisanBillPrintContainer {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    font-size: 13px;
    height: 20cm;
    width: 14cm;
}

.graphic {
    width: 100%;
    height: 5cm;
}

.headingOne {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-bottom: 0.3rem;
    font-size: 12px;
    font-weight: 600;
    height: 0.6cm;
}

.heading {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-bottom: 0.3rem;
    font-size: 12px;
    font-weight: 600;
    height: 0.6cm;
}

.levelTwo {
    display: flex;
    width: 95%;
    font-size: 14px;
    height: 10cm;
}

.constants {
    width: 20%;
    padding-right: 10px;
    font-size: 10px;
}

.constantsTotal {
    font-size: 13px;
    font-weight: 525;
}

.constants>* {
    padding: 0.5rem 0;
    border-top: 1px solid black;
}


.tableContainer {
    width: 80%;
    height: 13cm;
}

.table {
    width: 100%;
    font-size: 10px;
}

td {
    border: none;
}

tr {
    border-bottom: 1px solid black;
    /* Line between rows */
}

.table td {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.lastRow {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.totals {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 12px;
    font-weight: 550;
    height: 2.1cm;
}

.totals>div {
    text-align: right;
}

/* @media print {

    @page {
        size: 14cm 20cm;
        margin: 0;

    }

} */