.container{
    padding: 0 30px;
    font-size: 14px;
}
.heading{
    display: flex;
    justify-content: center; 
}

.constants{
    display: grid;
    grid-template-columns: repeat(3, auto); /* 4 columns, each taking equal space */
    grid-template-rows: repeat(2, auto);   /* 2 rows, height will adjust based on content */
    gap: 7px; /* Optional: Adds space between grid items */
    justify-items: start;
    padding: 0 10px;
}

TableCell{
    padding: 4px 8px; 
    line-height: 1.5rem
}