.kisanBillPrintContainer {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    font-size: 13px;
}

.headingOne {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-bottom: 0.3rem;
    font-size: 11px;
}

.heading {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-bottom: 0.3rem;
    font-size: 11px;
}

.levelTwo {
    display: flex;
    width: 95%;
    font-size: 14px;
}

.constants {
    width: 20%;
    padding-right: 10px;
    font-size: 10px;
}

.constantsTotal {
    font-size: 12px;
    font-weight: 525;
    margin-top: 3.4cm;
}

.constants>* {
    padding: 0.5rem 0;
    border-top: 1px solid black;
}


.tableContainer {
    width: 80%;
    height: 12cm;
}

.table {
    width: 100%;
    font-size: 10px;
}

td {
    border: none;
}

tr {
    border-bottom: 1px solid black;
    /* Line between rows */
}

.table td {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    /* max-width: 150px; */
}

.lastRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.totals {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 12px;
    font-weight: 550;
    margin-top: 7cm;
}

.totals>div {
    text-align: right;
}

@media print {

    @page {
        size: 14cm 20cm;
        margin: 0;

    }

    /* .container {
        margin-top: 6rem;
        font-size: 13px;
    }

    .heading {
        font-size: 11px;
    }

    .headingOne {
        font-size: 11px;
    }

    .levelTwo {
        font-size: 14px;
    }

    .constants {
        font-size: 10px;
    }

    .constantsTotal {
        font-size: 12px;
        font-weight: 525;
        margin-top: 3.4cm;
    }

    .tableContainer {
        height: 12cm;
    }

    .table {
        font-size: 10px;
        width: 100%;
    }

    .lastRow {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .totals {
        display: flex;
        flex-direction: column;
        width: 50%;
        font-size: 12px;
        font-weight: 550;
        margin-top: 7cm;
    } */
}