.container{
    font-size: 12px;
    padding: 0 20px;
}
.table {
    width: 100%;
}

td {
    border: none;
}


.daybill{
    width: 60%;
}

.openingAmount{
    width: 60px;
}

.table td {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    max-width: 150px;
}

.totals{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 0 5px;
}

@media print {
    .container{
        font-size: 11px;
    }
}