.container {
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
}

h1 {
  width: 100%;
}

.dateFields {
  width: 100%;
  display: flex;
  align-items: flex-start;
  /* padding-bottom: 20px; */
}

.constants {
  width: 100%;
  display: flex;
  padding-bottom: 5px;
  justify-content: end;
  gap: 4px;
}

.date {
  /* width: 15%; */
  padding-right: 10px;
}

.tableContainer {
  width: 100%;
}

.print_btn {
  /* padding-left: 5px; */
  margin-left: 5px;
  /* padding-left: 30px; */
}

.vyapariName {
  width: 25%;
  padding-right: 15px;
}

.btns {
  padding-bottom: 8px;
}

.auctionTotal {
  padding-left: 5rem;
}

.search {
  width: 30%;
  padding-top: 5px;
}

@media (max-width: 485px) {
  .search {
    width: 100%;
  }
}
